<h2>Task:</h2>

<p><%= @task.content %></p>

<% if current_user == @task.user %>
<a href="/tasks/<%= @task.id %>/edit">Edit</a>
<br><br>
<form class="" action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Entry">
</form>

<% end  %>
